target/

# gah macs
.DS_Store

# idea files that are too noisy
.idea/deployment.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/uiDesigner.xml
.idea/thriftCompiler.xml
.idea/libraries/
